{% extends "base.html" %}
{% block content %}

{% if ticker %}
    {{ ticker }}
{% endif %}


{% if api %}
    {% if api == "Error..." %}
        There was a problem with your ticker symbol...

    {% else %}

        <h1> {{ api.companyName }} </h1> <br>
         Latest Price: ${{ api.latestPrice }}<br>
         Latest Time: {{ api.latestTime }}<br>
         Previous Close: {{ api.previousClose }}<br>
         Market Cap: {{ api.marketCap }}<br>
         YTD Change: {{ api.ytdChange }}<br>
         52 Week High : {{ api.week52High }}<br>
         52 Week low : {{ api.week52Low }}<br>


        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br>
        {% for key, value in api.items %}
            {{ key }}: {{ value }} <br>
        {% endfor %}
        
    {% endif %}
{% endif %}

{% endblock  %}